.body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  padding: 20px;
  border-radius: 3px;
}

.container>h1 {
  text-align: center;
  letter-spacing: 2px;
}

.container>div:first-of-type {
  padding: 30px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.container>div>ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.container>div>ul>li>div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  border-bottom: 2px dotted black;
  border-bottom: 2px dotted black;
  box-sizing: border-box;
}

.container>div>ul>li>div>p:last-child {
  margin-left: auto;
}

.container>div>ul>li>div>button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.notPriority {
  border: 2px solid #555;
}

.priority {
  border: 2px solid #2facf4;
}

.urgent {
  border: 2px solid #cc0a0a;
}

.container {
  margin: 0 auto;
}

.container>div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65%;
  margin: 0 auto;
}

.container>div:last-of-type>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container>div:last-of-type>div>input,
.container>div:last-of-type>div>select {
  width: max-content;
}

.container>div>button {
  width: max-content;
  margin: 30px auto 0;
  padding: 10px 20px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.2s ease;
}

.container>div>button:hover {
  border: 2px solid #45a049;
  background-color: #45a049;
  color: white;
}